@import url('https://fonts.cdnfonts.com/css/levi-adobe-dia');
@import url('https://fonts.cdnfonts.com/css/leviwindows');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin:0;
    font-family: Trebuchet MS, sans-serif;
    background-color:#008080;
}

/* HEADER */
header {
    width: 100%;
    border: solid black 1px;
    background-color: lightgray;
    max-height: 155px;
}

/*BARRE BLEU WINDOWS 98 DU HEADER*/
.p-topbar {
    margin: 0;
    padding: 0;
    text-align: center;
}
.windows-topbar{
    margin: 3px 4px 0;
    padding: 5px;
    font-size: .8rem;
    line-height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #04008a;
    max-width: 100%;
}

.windows-topbar_close {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    font-family: 'LeviWindows', sans-serif;
    border-radius: 0;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/*TITRE DE LA PAGE DU HEADER*/
@keyframes wheelHueColor {
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
}

h1 {
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-family: 'LeviWindows', sans-serif ;
    font-style: italic;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 1s infinite;
    max-width: 100%;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
}

/*TEXTE EN HAUT DE PAGE*/
h2 {
    margin: 5px;
}

.textIntro {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.15%;
    margin: 5px;
}

br {
    margin: 5px;
}

/*LE JEU PIERRE FEUILLE CISEAUX*/
.jeu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.jeu ul button {
    height: 8em;
    width: 8em;
    border-radius: 10px;
    background-color: #e5e3e3;
}

.jeu ul button:hover {
    background-color: darkgray;
}

.jeu button img {
    max-width: 7em;
}

.jeu ul {
    display: flex;
}

.jeu li {
    list-style-type: none;
    margin:10px 10px 5px 10px ;
}

/*AFFICHAGE DU SCORE*/
h3 {
    margin: 0;
    font-size: xxx-large;
    font-family: 'LeviWindows', sans-serif;
}

/*SIGNES DU BOT*/
/*FENETRE DU BOT*/
.bot {
    width: 25%;
    height:25%;
    min-width: 250px;
    min-height: 150px;
    margin-top: 5px;
    background-color: #e5e3e3;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wndTopBarBot {
    width: 100%;
    height: 20px;
    position: relative;
    color: #fff;
    background-color: #04008a;
    border: solid black 2px;
    display: flex;
    align-items: center;
}

.titreBot {
    font-family: 'LeviWindows', sans-serif;
    font-size: x-large;
    color: #fff;
    margin-right: auto;
}

.wndTopBarBot img {
    margin-left: auto;
    max-width: 40%;
}

.imageBot img {
    padding: 15px;
    width: 260px;
    height: 260px;
}

.affichageSigneOrdi {
    padding-bottom: 2px;
}

.resultat {
    margin: 0;
    padding: 0;
}

/*BOUTON GENERANT LA SON DE WINDOWS XP*/
.bouton-windowsXPsound {
    position: fixed;
    margin-right: auto;
    margin-bottom: 20rem;
    width: 40%;
    left:1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bouton-windowsXPsound p {
    font-family: 'LeviWindows', sans-serif ;
    font-weight: bolder;
    font-size: 60px;
    text-transform: uppercase;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 1s infinite;
    margin: 0;
}

/*ASIDE CHANTIER EN COURS*/
.asideChantier {
    position: fixed;
    margin-left: 5px;
    margin-right: auto;
    margin-bottom: 20rem;
    margin-top: 8em;
    right: 1.5em;
    float: right;
    font-style: italic;
    font-size: large;
}
.asideChantier img {
    width: 10em;
    max-width: 100%;
}

.titreMondial {
    font-family: 'LeviWindows', sans-serif ;
    font-weight: bolder;
    font-size: 2.1em;
    text-transform: uppercase;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 1s infinite;
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin:auto 20px;
    line-height: 50px;

}

/*MENU START WINDOWS*/

footer {
    max-height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #c3c3c3;
}

.btnDemarrer img {
    min-width: 100%;
    width: 100px;


}

.menuStart {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 40px;
    min-width: 17em;
    max-width: 300px;
    min-height: 300px;
    background-color: #c3c3c3;
    align-items: center;
    justify-content: center;
}

.sideStartWrapper{
    flex: 1; /* Faire en sorte que cet élément s'étende sur toute la hauteur disponible */
    display: flex;
    align-items: center; /* Centrer verticalement le contenu */
}
.styleSideStart {
    width: 10%;
    height: 50%;
    background-color: #04008a;
    color: white;
    writing-mode: vertical-rl;
    text-align: right;
    padding: 9px;
    white-space: nowrap;
}
.menuStart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuStart li {
    font-family: 'LeviWindows', sans-serif;
    font-weight: bold;
    font-size: x-large;
    background-color: #c3c3c3;
    border: none;
    border-radius: 0;
    margin-bottom: 5px; /* Espacement entre les boutons */
}

.menuStart li button {
    display: block; /* Afficher chaque bouton sur une ligne différente */
    width: 100%; /* Pour occuper toute la largeur disponible */
    padding: 10px; /* Ajuster le padding selon vos préférences */
    box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

.menuStart li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuStart li:hover {
    filter: brightness(70%);
}

/*MEDIA QUERRY*/

@media screen and (max-width: 480px) {
    height: 30%;
}

@media screen and (max-width: 768px) {

    header {
        height: 40%;
    }
    .windows-topbar {
        height: 30%;
        margin: 0;
        padding: 0;
        font-size: .8rem;
        line-height: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #04008a;
    }
    h1 {
        font-size: xxx-large;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    ul{
        margin: auto
    }
    li {
        margin: auto;
    }
    ul button {
        max-width: 100px;
        max-height: 100px;
        display: flex;
        justify-content: center;
    }
    ul img {
        max-height: 80px;
        max-width: 80px;
    }

    aside {
        display: flex;
    }
    .bouton-windowsXPsound {
        display: flex;
        margin-top: auto;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}

@media screen and (max-width:1200px) {
    .bouton-windowsXPsound {

        display: none;
    }
    aside {
        display: none;
    }
}
@media screen and (max-height: 800px) {
    .asideChantier, .asideChantier img, .titreMondial {
        display: none;
    }
}

